<body>
  <div class="top-container">
    <img src="http://4.bp.blogspot.com/-emvfOzJ_3uA/TduSG-2BLMI/AAAAAAAABoU/M4ExhTvkYeg/s1600/silence-im-thinking-cat-cats-kitten-kitty-pic-picture-funny-lolcat-cute-fun-lovely-photo-images.jpg" width="200em" height="200em">
    <h1> My messenger app </h1>
  </div>
  <div class="bottom-container">
    <%= yield %>
  </div>
</body>
