<form action="/messages/<%= @message.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  What would you like to replace "<%= @message.content %>" with?
  <%= erb :form_partial %>
</form>
