<h1> My messenger app </h1>

<form action="/message_storage" method="post">
  <label for="message"> Insert message here: </label>
  <input type="text" name="message"> <br>
  <input type="submit" value="Submit">
</form>

<% if @list == [] %>
<h1> You don't have any messages yet! </h1>
<% else %>
<% @list.each do |item| %>
<% key = item.keys.first %>


    <div style="width:25em; float:left;">
     <%= item.keys.first %>
    </div>

    <div style="overflow:hidden">
        <%= item[key] %>
    </div>

<% end %>
<% end %>
