<h1> My messenger app </h1>

<form action="/message" method="post">
  <label for="message"> Insert message here: </label>
  <input type="text" name="content"> <br>
  <input type="submit" value="Submit">
</form>

<% if @messages == [] %>
<h1> You don't have any messages yet! </h1>
<% else %>
<% @messages.reverse.each do |message| %>
<div>
  <%= message.created_at %>: <a href=<%="/messages/#{message.id}"%>><%= message.content %></a>
</div>
<% end %>
<% end %>
