<body>
  <div class="top-container">
    <img src="https://s3.amazonaws.com/after-school-assets/cat-typing.gif" width="200em" height="200em">
    <h1> My messenger app </h1>
  </div>
  <div class="bottom-container">
    <%= yield %>
  </div>
</body>
