  <div><%= @message.created_at %>: <span><%= @message.content %></span></div>
  <form action="/messages/<%= @message.id %>/edit" method="get">
    <input type="submit" value="Edit message">
  </form>
  <form action="/messages/<%= @message.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete message">
  </form>
